{% import 'utils/macros/pagination_macros.html' as handle_pagination %}
{% extends "base.html" %}

{% block content %}
<ul class="breadcrumbs">
<li><a href="/">Home</a></li>
<li><a class="disabled">Miners</a></li>
</ul>
<div class="row small-up-2 medium-up-3 large-up-4">

{% for miner in miners %}
<div class="column">
<img class="thumbnail" src="{{miner.thumbnail or 'http://via.placeholder.com/250x150'}}">
<a href="/miners/view/{{miner.primary_key}}">{{miner.title}}</a>
<h6>{{miner.headline}}</h6>
<br>
</div>
 {% endfor %}

<div class="column">
<a href="./create">
<div class="thumbnail" style="width: 100%; height: 167px;"><div class="icon-center"><i class="fi-plus large"></i></div>
</div>
Add Miner</a>
<br>
</div>

</div>

{{ handle_pagination.render_pagination(pagination, 'miners.miners') }}

{% endblock %}